@use '~@angular/material' as mat;

header {
  a {
    font-size: 0.8rem;
    position: absolute;
    color: white;
    right: 1rem
  }
}

.content {
  justify-content: center;
  margin: 4rem auto 0;

  width: 98vw;

  @media screen and (min-width: 840px) {
    width: 80vw;
  }

  .segment-flight {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .duration {
    margin-right: 2rem;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      padding: 0.3rem;
    }
  }

  h2 {
    margin-top: 2rem;
  }

  mat-expansion-panel {
    margin-bottom: 2rem;
  }
}
