<header>
  Your booking
  <a [routerLink]="['/logon']">check another booking</a>
</header>
<div class="content">
  <div *ngIf="booking$ | async as booking; else loadingOrError">
    <h1>Your {{booking.itinerary.type}} booking to {{booking.itinerary.destinationCity}}</h1>
    <app-connection
      *ngFor="let connection of booking.itinerary.connections; let i = index"
      [attr.data-e2e]="'expansion-panel_connection-' + i"
      [connection]="connection"
    >
    </app-connection>
    <h2>Passengers</h2>
    <ul>
      <li *ngFor="let passenger of booking.passengers">{{passenger.title}} {{passenger.firstName}} {{passenger.lastName}}</li>
    </ul>
  </div>
</div>
<ng-template #loadingOrError>
  <mat-error *ngIf="error$ | async as error; else loading">{{error}}</mat-error>
</ng-template>
<ng-template #loading>
  <mat-spinner
    color="primary"
    diameter="25"
    data-e2e="spinner_loading"
  >
  </mat-spinner>
</ng-template>
